:root{
    --primario-color: #75C8FF;
    --secondary-color: #0271BA;
}


body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(150deg, #75C8FF,#0271BA );
    height: 100vh;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .username{
 position: relative;
 border-bottom: 2px solid #0271BA;
 margin: 30px 0;

}

.formulario input{
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
}
.formulario input:focus{
    outline: none;
}
.recordar{
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
    
}
.recordar a{
   text-decoration: none; 
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: var(--secondary-color);
    border-radius: 25px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: var(--primario-color);
    transition: .5s;
}
.registrarse{
    margin: 30px;
    text-align: center;

}
.registrarse  a{
    text-decoration: none;
}